<header id="header" class="header">
    <h1>todos</h1>
    <form action="/todo" method="post">
        <input name="title" id="new-todo" class="new-todo" placeholder="What needs to be done?" autofocus />
    </form>
</header>